.navbar {
  background-color: #fff;
}
.nav-link {
  color: #004AAD !important;
  font-size: larger;
}

.carousel .carousel-inner {
  width: 80%;
  height: 20%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .carousel-inner .carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
  }
}

.footer-column {
  text-align: center;
  padding: 15px;
}

.footer-image {
  max-width: 100%;
  max-height: 100px;
  display: block;
  margin: 0 auto;
}